@import "src/app/admin/shared/admin.variables";
@import "src/app/admin/shared/admin.mixins";

.form-control {
  &__label {
    font-size: 14px;
    color: $color-primary;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }

  textarea {
    @include control-field();
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100px;
  }
};
