<div
  class="form-control"
  [ngClass]="{invalid: isInvalid()}"
  [formGroup]="form"
>
  <label class="form-control__label" [for]="name">{{ label }}</label>
  <ng-container [ngSwitch]="type">
    <quill-editor
      *ngSwitchCase="'editor'"
      [id]="name"
      [formControlName]="name"
      [placeholder]="placeholder"
    ></quill-editor>
    <mat-select
      *ngSwitchCase="'select'"
      [formControlName]="name"
      [placeholder]="placeholder"
      [id]="name"
    >
      <mat-option
        *ngFor="let option of options"
        [value]="option.value"
      >
        {{ option.title }}
      </mat-option>
    </mat-select>
    <app-image-upload
      *ngSwitchCase="'image-upload'"
      [formControlName]="name"
      [placeholder]="placeholder"
    ></app-image-upload>
    <app-input
      *ngSwitchDefault
      [placeholder]="placeholder"
      [htmlType]="htmlType"
      [name]="name"
      [formControlName]="name"
    >
    </app-input>
  </ng-container>
  <div
    *ngIf="isInvalid()"
    class="validation"
  >
    <ng-container *ngFor="let item of validationMessages | keyvalue">
      <small *ngIf="form.get(name).errors[item.key] as error">
        {{ getErrorMessage(item.value, error) }}
      </small>
    </ng-container>
  </div>
</div>
