<div
  class="form-control"
  [ngClass]="{invalid: isInvalid()}"
  [formGroup]="form"
>
  <label [for]="name">{{ label }}</label>
  <ng-container [ngSwitch]="type">
    <quill-editor
      *ngSwitchCase="'editor'"
      [id]="name"
      [formControlName]="name"
      [placeholder]="placeholder"
      [styles]="{
        height: '150px'
      }"
    ></quill-editor>
    <input
      *ngSwitchDefault
      [id]="name"
      [type]="htmlType"
      [formControlName]="name"
      [placeholder]="placeholder"
    >
  </ng-container>
  <div
    *ngIf="isInvalid()"
    class="validation"
  >
    <ng-container *ngFor="let item of validationMessages | keyvalue">
      <small *ngIf="form.get(name).errors[item.key] as error">
        {{ getErrorMessage(item.value, error) }}
      </small>
    </ng-container>
  </div>
</div>
