<div class="post" *ngIf="post">
  <div class="post__header">
    <app-post-image
      [src]="post.image"
      [routerLink]="['/post', post.id]"
      [animate]="true"
      [likesCount]="post.likesCount"
    ></app-post-image>
  </div>
  <div class="post__body">
    <h2 class="post__title">
      <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
    </h2>
    <app-post-info
      [data]="[
        post.author,
        post.date | date: 'longDate'
      ]"
    ></app-post-info>
    <div class="post__preview">{{ post.preview }}</div>
  </div>
</div>
