@import "src/app/shared/app.variables";

.post {
  margin-bottom: 70px;

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;

    &:hover {
      a {
        color: $color-orange;
      }
    }

    a {
      color: $color-dark;
      transition: color .3s;
    }
  }

  &__preview {
    font-size: 15px;
    font-weight: 500;
    color: $color-secondary;
    line-height: 1.8;
  }
}
