<div class="post" *ngIf="post">
  <div class="post__header">
    <app-post-image [routerLink]="['/post', post.id]" [animate]="true"></app-post-image>
  </div>
  <div class="post__body">
    <h2 class="post__title">
      <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
    </h2>
    <app-post-info
      [data]="[
        post.author,
        post.date | date: 'longDate'
      ]"
    ></app-post-info>
    <div class="post__preview">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis consequatur, dolores eius facilis
      laudantium omnis rem sapiente sit suscipit. Adipisci autem corporis cupiditate eaque error et neque perferendis
      quos.
    </div>
  </div>
</div>
