@import "src/app/shared/app.variables";

.post-image {
  position: relative;

  &__likes {
    height: 78px;
    width: 78px;
    position: absolute;
    bottom: -15px;
    left: -15px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: $color-dark-gray;
    font-weight: 500;
  }

  &__link,
  &__block {
    display: block;
    overflow: hidden;
    border-radius: 4px;
  }

  &_animate {
    .post-image {
      &__link,
      &__block {
        background-color: $color-black;
        max-height: 340px;

        &:hover {
          img {
            transform: scale(1.1);
            opacity: 0.5;
          }
        }

        img {
          opacity: 1;
          transition: .3s ease-in-out;
        }
      }
    }
  }
}
