@import "src/app/admin/shared/admin.variables";
@import "src/app/admin/shared/admin.mixins";

.input {
  border: $border-light;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s;
  display: flex;
  align-items: center;

  &:hover,
  &_focused {
    border-color: #699dff;
  }

  &_focused {
    box-shadow: 0 0 0 2px rgba(62, 121, 247, .2);
  }

  &__field {
    @include control-field();
    display: block;
    height: 40px;
    width: 100%;
    border: none;
  }

  &__icon {
    padding-left: 8px;
    color: $color-light-gray;
  }
}

