$color-gray: #999999;
$color-light-gray: #98a5b9;
$color-dark-gray: #333333;
$color-secondary: #8b8b8b;
$color-dark: #343434;
$color-orange: #ec6a2a;
$color-black: #000;
$color-white: #fff;
$color-navy: #212a39;

$header-height: 90px;
$footer-height: 90px;
