@import "src/app/admin/shared/admin.variables";

.admin-table {
  background-color: $color-white;
  border: $border-light;
  padding: 20px;
  border-radius: .625rem;

  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__control {
    max-width: 220px;
  }

  &__add-icon {
    padding-right: 5px;
  }
}
