<div class="admin-table">
  <div class="admin-table__header">
    <div class="admin-table__control">
      <app-input
        placeholder="Search"
        type="search"
        (valueChanged)="handleTermChange($event)"
      ></app-input>
    </div>
    <div class="admin-table__btn-group">
      <app-button type="primary" [routerLink]="addRouterLink">
        <span class="admin-table__add-icon"><fa-icon [icon]="faPlusCircle"></fa-icon></span>
        {{ addBtnTitle }}
      </app-button>
    </div>
  </div>
  <div class="admin-table__table">
    <ng-content></ng-content>
  </div>
</div>
