$color-primary: #1a3353;
$color-blue: #3e79f7;
$color-secondary: #455560;
$color-black: #000;
$color-white: #fff;
$color-light-gray: rgba(114,132,154,.7);
$color-danger: #dc3545;
$color-gray: #f5f5f5;

$border-light: 1px solid #edf2f9;

$header-height: 70px;
