<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login to admin panel</h2>
  <div class="alert alert-danger" *ngIf="message">
    {{ message }}
  </div>
  <app-form-control
    [form]="form"
    name="email"
    label="Email"
    [validationMessages]="{
      required: 'This field is required!',
      email: 'Please enter correct email!'
    }"
  ></app-form-control>
  <app-form-control
    [form]="form"
    name="password"
    htmlType="password"
    label="Password"
    [validationMessages]="{
      required: 'This field is required!',
      minlength: getMinLengthMessage
    }"
  ></app-form-control>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || isSubmitting"
  >
    Login
  </button>
</form>
