@import "src/app/admin/shared/admin.variables";

.button {
  border-radius: $border-radius;

  &_primary {
    background-color: $color-blue;
  }

  &_light {
    background-color: $color-white;
    border: $border-light;
    color: $color-secondary;
  }
}
