<div class="posts-table">
  <app-admin-table
    addBtnTitle="Add post"
    [addRouterLink]="['/admin', 'post', 'create']"
    (filterChange)="handleFilterChange($event)"
  >
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index;">
          <div class="posts-table__title">{{ i + 1 }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let post">
          <div class="posts-table__title">{{ post.title }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let post">
          <div class="posts-table__author">
            <app-avatar
              [src]="'https://emilus.themenate.net/img/avatars/thumb-1.jpg'"
              size="small"
            ></app-avatar>
            <span>{{ post.author }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let post"> {{ post.date | date: 'mediumDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let post">
          <button mat-icon-button [matMenuTriggerFor]="dropdown">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
          </button>
          <mat-menu #dropdown xPosition="before">
            <button mat-menu-item class="actions__btn" [routerLink]="['/admin', 'post', post.id, 'edit']">
              <fa-icon [icon]="faEdit"></fa-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item class="actions__btn actions__btn_danger" (click)="delete(post.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=columnsToDisplay></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell posts-table__empty" colspan="5">No data was found</td>
      </tr>
    </table>
    <mat-paginator *ngIf="dataSource.data.length > 5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </app-admin-table>
</div>
