@import "src/app/admin/shared/admin.variables";

.dashboard {
  &__edit {
    margin-right: 10px;
  }
}

.posts-table {
  &__title,
  &__author,
  &__empty {
    color: $color-primary;
    font-weight: 500;
  }

  &__author {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
    }
  }

  &__empty {
    text-align: center;
  }
}

.actions {
  &__btn {
    color: $color-secondary;

    span {
      padding-left: 10px;
    }

    &_danger {
      color: $color-danger;
    }
  }
}
