<div class="posts-table">
  <app-admin-table>
    <table mat-table [dataSource]="posts">
      <mat-text-column name="id" headerText="ID"></mat-text-column>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let post">
          <div class="posts-table__title">{{ post.title }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let post">
          <div class="posts-table__author">
            <app-avatar
              [src]="'https://emilus.themenate.net/img/avatars/thumb-1.jpg'"
              size="small"
            ></app-avatar>
            <span>{{ post.author }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let post"> {{ post.date | date: 'mediumDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let post">
          <button
            class="btn btn-link dashboard__edit"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            Edit
          </button>
          <a (click)="delete(post.id)">Delete</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=columnsToDisplay></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </app-admin-table>
</div>
