<div class="loading text-center" *ngIf="loading; else dashboard">
  <p>Loading...</p>
</div>

<ng-template #dashboard>
  <div class="dashboard" *ngIf="posts.length; else emptyBlock">
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts; let i = index;">
        <td> {{ i }} </td>
        <td>{{ post.title }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.date | date:'mediumDate' }}</td>
        <td>
          <button
            class="btn btn-link dashboard__edit"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            Edit
          </button>
          <a (click)="remove(post.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #emptyBlock>
  <div class="empty text-center">
    <p>No data!</p>
  </div>
</ng-template>
